<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">

  {{!--
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"> --}}
  <title>
    Argon Dashboard 2 PRO by Creative Tim
  </title>


  <link rel="canonical" href="https://www.creative-tim.com/product/argon-dashboard-pro" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <meta name="keywords"
    content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap 5 dashboard, bootstrap 5, css3 dashboard, bootstrap 5 admin, Argon Dashboard bootstrap 5 dashboard, frontend, responsive bootstrap 5 dashboard, soft design, soft dashboard bootstrap 5 dashboard">
  <meta name="description"
    content="Argon Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

  <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />

  {{!--
  <script src="./kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script> --}}
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />

  <link id="pagestyle" href="./assets/css/argon-dashboard.min9c7f.css?v=2.0.5" rel="stylesheet" />
  




  <style>
    .form-check-input:invalid~.form-check-label,
    .form-check-input:valid~.form-check-label,
    textarea:invalid~.invalid-feedback,
    textarea:valid~.invalid-feedback,
    select:invalid~.invalid-feedback,
    select:valid~.invalid-feedback,
    input:invalid~.invalid-feedback,
    input:valid~.invalid-feedback {
      display: block;
    }
  </style>

  <style>
    .async-hide {
      opacity: 0 !important
    }
  </style>

</head>

{{!-- <script>
  // Incluye los datospeaje directamente en el HTML como un objeto JavaScript
  const datosPeajes = {{ datospeaje }};
</script> --}}




<body class="g-sidenav-show   bg-gray-100">

  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <main class="main-content position-relative border-radius-lg ">


    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card">

            <div class="card-header pb-0">
              <div class="d-lg-flex">
                <div>
                  <h5 class="mb-0">Todas las exportaciones</h5>
                </div>
                <div class="ms-auto my-auto mt-lg-0 mt-4">
                  <div class="ms-auto my-auto">
                    <button type="button" class="btn bg-gradient-primary btn-sm mb-0" data-bs-toggle="modal"
                      data-bs-target="#exportacion">
                      nueva exportación
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-0">
              <div class="table-responsive">
                <table class="table table-flush" id="products-list">
                  <thead class="thead-light">
                    <tr>
                      <th>ID</th>
                      <th>PLACA</th>
                      <th>PEAJE</th>
                      <th>DESCRIPCIÓN</th>
                      <th>CATEGORIA</th>
                      <th>F.REGISTRO</th>
                      <th>PRECIO</th>
                      <th>CONTROLES</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#if datos.length}}
                    {{#each datos}}
                    <tr>
                      <td class="text-sm" id="">{{idPeaje}}</td>
                      <td class="text-sm" id="placa">{{placa}}</td>
                      <td class="text-sm" id="peaje">{{peaje}}</td>
                      <td class="text-sm" id=" ">{{descripcion}}</td>
                      <td class="text-sm" id=" ">{{idCategoria}}</td>
                      <td>
                        <span class="badge badge-danger ">{{fechaRegistro}}</span>
                      </td>
                      <td class="text-sm">{{precio}}</td>
                      <td class="text-sm">


                          <button class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1" data-bs-toggle="modal" id="editar"  data-bs-target="#exportacionEdit"  onclick="Update({{idPeaje}})" >Editar</button>

                        <button onclick="Eliminar({{idPeaje}})" class="btn bg-gradient-primary btn-sm mb-0"
                          type="submit">Eliminar</button>

                      </td>

                    </tr>
                    {{/each}}
                    {{else}}
                    {{/if}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>


{{!-- 

<script>
  const item= {{editar}}
</script> --}}
  <!-- Modal -->
  <div class="modal fade" id="exportacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear exportación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body">

          <body>
            <div class="container mt-5">
              <form id="myForm" novalidate  method="post">
                <div class="row">
                  <div class="col-6">
                    <label for="precio" class="form-label">Placa</label>
                    <input class="form-control" id="placa" name="placa"  placeholder="EEA450" pattern="[A-Za-z]{3}[0-9]{3}" required/>
                    {{!-- <div class="invalid-feedback" id="precio-feedback">No se encontró un precio para la selección hecha.
                    </div> --}}
                  </div>
                  <div class="col-6">
                    <label for="peaje" class="form-label">Nombre del Peaje</label>
                    <input class="form-control" list="peajeList" id="peajes" name="peajes"
                      placeholder="Seleccione un peaje" required />
                    <datalist id="peajeList">
                      {{#each datospeaje}}
                      <option value="{{this.peaje}}">{{this.peaje}}</option>
                      {{/each}}
                    </datalist>
                  </div>
                  <div class="col-6">
                    <label for="categoria" class="form-label">Categoria</label>
                    <input class="form-control" list="categoriaList" id="categorias" name="categorias"
                      placeholder="Seleccione una categoría" required />
                    <datalist id="categoriaList">
                      {{#each datospeaje}}
                      <option value="{{this.idcategoriatarifa}}">{{this.idcategoriatarifa}}</option>
                      {{/each}}
                    </datalist>
                  </div>
                  <div class="col-6">
                    <label for="precio" class="form-label">Precio</label>
                    <input class="form-control" id="precio" name="precio" placeholder="1000" required readonly />
                    <div class="invalid-feedback" id="precio-feedback">No se encontró un precio para la selección hecha.
                    </div>
                  </div>
                    <div class="col-12">
                    <label for="precio" class="form-label">Descripcion</label>
                    <input class="form-control" id="descripcion" name="descripcion" placeholder="EE400" required  />
                    {{!-- <div class="invalid-feedback" id="precio-feedback">No se encontró un precio para la selección hecha.
                    </div> --}}
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Guardar</button>
                </div>
              </form>

            </div>
        </div>
      </div>
      </div>
      </div>

      <!-- Editar -->
       <div class="modal fade" id="exportacionEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear exportación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body">

          <body>
           
            <div class="container mt-5">
              <form id="myFormEdit" novalidate  action='/edit'  method="post">           
                <div class="row">
                  <div class="col-6">
                    <label for="precio" class="form-label">Id</label>
                    <input class="form-control" id="id" name="id" placeholder="" readonly/>
                    </div>
                  
                    <div class="col-6">
                    <label for="precio" class="form-label">Placa</label>
                    <input class="form-control" id="placaEdit" name="placaEdit" placeholder="EEA450" pattern="[A-Za-z]{3}[0-9]{3}" />
                    </div>
                    <div class="col-6">
                    <label for="peaje" class="form-label" ></label>
                    <input class="form-control" list="peajeList" id="peajesEdit" name="peajesEdit"
                      placeholder="Seleccione un peaje" required />
                      
                    <datalist id="peajeList">
                      {{#each datospeaje}}
                      <option value="{{this.peaje}}">{{this.peaje}}</option>
                      {{/each}}
                    </datalist>
                  </div>
                  <div class="col-6">
                    <label for="categoria" class="form-label">Categoria</label>
                    <input class="form-control" list="categoriaList" id="categoriasEdit" name="categoriasEdit"
                      placeholder="Seleccione una categoría" required />
                    <datalist id="categoriaList">
                      {{#each datospeaje}}
                      <option value="{{this.idcategoriatarifa}}">{{this.idcategoriatarifa}}</option>
                      {{/each}}
                    </datalist>
                  </div>
                  <div class="col-6">
                    <label for="precio" class="form-label">Precio</label>
                    <input class="form-control" id="precioEdit" name="precioEdit" placeholder="1000" required readonly />
                    <div class="invalid-feedback" id="precio-feedback">No se encontró un precio para la selección hecha.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="" class="form-label">Descripcion</label>
                    <input class="form-control" id="descripcionEdit" name="descripcionEdit" placeholder="EE400" required/>
                    {{!-- <div class="invalid-feedback" id="precio-feedback">No se encontró un precio para la selección hecha. --}}
                    {{!-- </div> --}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary" id="submitBtnn">Guardar</button>
                </div>
                  </div>
                </div>
              </form>

            </div>
        </div>
      </div>
      </div>
      </div>











      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

      <script src="./assets/js/core/popper.min.js"></script>
      <script src="./assets/js/core/bootstrap.min.js"></script>
      <script src="./assets/js/plugins/perfect-scrollbar.min.js"></script>
      <script src="./assets/js/plugins/smooth-scrollbar.min.js"></script>
      <script src="./assets/js/plugins/datatables.js"></script>
      <script src="./assets/js/controller.js"></script>



      {{!--
      <script src="../../../assets/js/argon-dashboard.min9c7f.js?v=2.0.5"></script> --}}

</body>

<!-- Mirrored from demos.creative-tim.com/argon-dashboard-pro/pages/ecommerce/products/products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Apr 2024 06:38:01 GMT -->

</html>